body {
    background-color: black;
    color: white;
}

nav {
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
    color: rgb(214, 202, 202);
}

header a {
    font-size: 1.8em;
    color: white;
}
nav div div {
    color: white;
    font-size: 1.2em;
}

nav div div:hover,
nav header div:hover,
nav footer section:hover {
        background-color: #302f29;
}

.btn-custom {
    font-size: 1.2em;
    color: #ffffff;
    background-color: #157fdb;
    border-color: #157fdb;
}

.btn-custom:hover {
    color: #ffffff;
    background-color: #1068b4;
    border-color: #1068b4;
}

#left-side {
    height: 100vh;
}

#profile {
    font-weight: bold;
}

#user-details {
    line-height: .9;
}

nav footer {
    color: rgb(112, 96, 96);
}
#username {
    color: white;
    display: flex;
    flex-direction: column;
}

#user-details{
    font-size: .7em;
    line-height: 1.3;
}
