body {
    background-color: black;
    color: white;
}

nav a {
    display: inline-block;
    color: black;
    font-size: 1.3em;
    transition: border 0.5s ease, font-weight 0.3s ease;
    line-height: 0 !important;
    margin-bottom: 0;
}

nav i {
    padding-right: 0.5em;
}

header a {
    font-size: 1.3em;
    color: white;
}

nav div div {
    color: white;
    /* font-size: 1.2em; */
}

/* nav div div:hover,
nav header div:hover,
nav footer section:hover {
    background-color: #302f29;
} */

.btn-custom {
    /* font-size: 1.2em; */
    color: #ffffff;
    background-color: #157fdb;
    border-color: #157fdb;
}

.btn-custom:hover {
    color: #ffffff;
    background-color: #1068b4;
    border-color: #1068b4;
}

#left-side {
    height: 100vh;
}

#profile {
    font-weight: bold;
}

#user-details {
    line-height: .9;
}

nav footer {
    color: rgb(112, 96, 96);
}
#username {
    color: white;
    display: flex;
    flex-direction: column;
}

#user-details, .back{
    font-size: .7em;
    line-height: 1.3;
}
main header{
    line-height: 1.2;
    /* font-size: 1em; */
}
#no-posts{
    color: rgb(139, 130, 130);
    /* font-size: .8em; */
}
main header div:first-child:hover{
    background-color: #302f29;
}

.profile-header {
    background-image: url('../../public/Images/1.jpeg');
    background-size: cover;
    background-position: center;
    height: 200px;
}

.profile-image {
    position: relative;
    border: 5px solid black;
    border-radius: 50%;
}

.profile-image img {
    position: absolute;
    top: -100px;
    background-color: black;
}

.profile-image img {
    max-width: 130px;
    max-height: 130px;
    height: 130px;
}
#profileImg {
    width: 130px;
    height: 130px;
}

.button{
    background-color: black;
    color: white;
    border: 2px solid rgb(115, 115, 116);
}
.button:hover{
    background-color: #1a1a1b;
}
main section div span,
main section div i,main section div svg{
    color: #666457;
}

#user-details-main {
    padding: 1em 1em;
    line-height: 1.4;
}
#username-main {
    color: white;
    display: flex;
    flex-direction: column;
}
main section nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
}
main section nav div a {
    color: #666457 !important;
    padding: .5em !important;
    display: flex !important;
    justify-content: center;

}
main section nav div:hover{
    background-color: #302f29;
}
.tab-content{
    display: none;
}
.tab-content.active {
    display: block;
    
}


/* .nav-link.active {
    font-weight: bold;
    color: white !important;
    border-bottom: 8px solid #1068b4 ;
} */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5)
}

.modal-content {
    background-color: black;
    margin-left: 25%;
    margin-top: 2%;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 700px;
    max-height: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(197, 189, 189, 0.2);
    overflow: hidden;
}

.modal-content button{
    color: black;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label{
    color: white;
}
form .profile-header {
    background-image: url('../../public/Images/1.jpeg');
    background-size: cover;
    background-position: center;
    height: 160px;
    margin-bottom: 70px;
}
form .profile-image {
    position: absolute;
    top: 170px;
    left: 8%;
    border: 5px solid black;
    border-radius: 50%;
}
.buttons label{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: rgba(55, 59, 71, 0.5); 
    border: none;
    color: white;
    display: flex;

    justify-content: center;
    align-items: center;

}

.button :hover label{
    background-color: rgba(90, 96, 112, 0.5); 
}

#profileImgbtn {
    top: 205px;
    left: 16%;
    
}
#profileBgBtn {
    top: 130px;
    left: 40%;
}
#profileBgbtnDelete {
    top: 130px;
    left: 53%;
}
form .profile-image img {
    width: 100px;
}
.buttons span{
    position: absolute;
    font-size: .7em;
    padding: .3em;
    background-color: rgba(67, 77, 102, 0.5);
    display: none;
}
#profileImgbtn:hover + #addPhoto{
    display: flex;
    top: 44%;
    left: 14.5%;
}
#profileBgBtn:hover + #addbgPhoto{
    display: flex;
    top: 31%;
    left: 38.5%;
}
#profileBgbtnDelete:hover + #removePhoto{
    display: flex;
    top: 31%;
    left: 50%;
}

form #addPhoto{
    position: absolute;
    font-size: .7em;
    padding: .3em;
    background-color: rgba(67, 77, 102, 0.5);
    top: 39%;
    left: 12.5%;
    display: none;
}
form #profileBgBtn:hover + span{
    display: flex;
}
.form-floating {
    position: relative;
    margin-bottom: 1rem;
    
}

.form-floating input {
    border: none;
    border: 1px solid #ced4da;
    outline: none;
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    border-color: white !important;
}

.form-floating input:focus{
    background-color: black;
    color: white;
}

.form-floating p {
    position: absolute;
    left: 1em;
    top: 0.5rem;
    transition: top 0.2s, font-size 0.2s;
    pointer-events: none;
    background-color: transparent !important; 
    transition: background-color 0.2s;
}
.form-floating input:focus + p,
.form-floating input:not(:placeholder-shown) + p {
    top: 0rem;
    left: 1em;
    font-size: 0.75rem;
    color: #007bff;
    background-color: black;
    font-size: .8em;

}
#openModal{
    border: 1px solid white !important;
}
main section naV div a{
    border-radius: 0;
    padding: 20px !important;
    /* border:4px solid #4e93d7 !important; */
}
main section naV div a.active{
    border-bottom:4px solid #4e93d7 !important;
    color: white !important;
}
#scrollable-container{
    border: none !important;
}
.details{
    display: flex;
    justify-content: space-around;
    
}
#openModal{
    border: 1px solid white !important;
}
main section naV div a{
    border-radius: 0;
    padding: 20px !important;
    /* border:4px solid #4e93d7 !important; */
}
main section naV div a.active{
    border-bottom:4px solid #4e93d7 !important;
    color: white !important;
}
#scrollable-container{
    border: none !important;
}
.details{
    display: flex;
    justify-content: space-around;
    
}
